ipykernel >= 6.20      # run notebooks
tweepy[async] >= 4.12  # use twitter API w/ async

python-dotenv >= 0.21  # load environment variables from .env file

numpy >= 1.24          # numerical computing
pyspellchecker >= 0.7  # spellcheck
nltk >= 3.8            # natural language processing
emoji >= 2.2           # emoji support
